# Ignore Python virtual environments
venv/
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore VSCode settings (optional)
.vscode/
